<h1 class="text-center mt-4"><%= obj.user.username %>'s Dashboard</h1>
    <div class="container mt-5">
        <div class="card text-center">
        <div class="card-header"><%= obj.user.username %><%= Time.now.strftime("'s Budget as of %A, %m/%d/%Y") %></div>
        <div class="card-body">
            <h5 class="card-title">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Food</th>
                        <th>Fuel</th>
                        <th>Fun</th>
                        <th>Gifts</th>
                        <th>Misc</th>
                    </tr>
                    </thead>
                    <tbody>
                        <td><%= number_to_currency(obj.food) %></td>
                        <td><%= number_to_currency(obj.fuel) %></td>
                        <td><%= number_to_currency(obj.fun) %></td>
                        <td><%= number_to_currency(obj.gifts) %></td>
                        <td><%= number_to_currency(obj.misc) %></td>
                    </tbody>
                </table>
                </div>
            </h5>
        </div>
        <div class="card-footer text-muted"> 
        </div>
    </div>
</div>