


<div class="d-inline-flex flex-column p-2 center-form">
    <%= render 'shared/errors', obj: @budget %>
    <%= form_with(model: @budget, local: true) do |f| %>
        <div class="p-2">
            <%= f.label :food, class: "col-2 col-form-label" %>               
            <%= f.text_field :food, class: "form-control", placeholder: "Enter an amount" %>
        </div>
        <div class="p-2">
            <%= f.label :fuel, class: "col-2 col-form-label" %>               
            <%= f.text_field :fuel, class: "form-control", placeholder: "Enter an amount" %>
        </div>
        <div class="p-2">
            <%= f.label :fun, class: "col-2 col-form-label" %>                
            <%= f.text_field :fun, class: "form-control", placeholder: "Enter an amount" %>
        </div>
        <div class="p-2">
            <%= f.label :gifts, class: "col-2 col-form-label" %>               
            <%= f.text_field :gifts, class: "form-control", placeholder: "Enter an amount" %>
        </div>
        <div class="p-2">
            <%= f.label :misc, class: "col-2 col-form-label" %>                
            <%= f.text_field :misc, class: "form-control", placeholder: "Enter an amount" %>
        </div>
        <br>
        <div class="d-flex flex-row justify-content-center mb-3">
            <%= f.submit class: "btn btn-outline-success" %>
        </div>
        <div class="d-flex flex-row justify-content-center mb-3">
            <%= link_to 'Cancel edit and return to your dashboard', user_path(@budget.user) %>
        </div>
    <% end %>   
</div>
</div>
</div>