<div class="row justify-content-center">
    <div class="col-10">
        <%= render 'shared/errors', obj: @budget %>
        <%= form_with(model: @budget, local: true) do |f| %>
            <div class="form-group row">
                <%= f.label :food, class: "col-2 col-form-label" %>
                <div class="col-10">
                    <%= f.text_field :food, class: "form-control", placeholder: "Enter an amount" %>
                </div>
            </div>
            <div class="form-group row">
                <%= f.label :fuel, class: "col-2 col-form-label" %>
                <div class="col-10">
                    <%= f.text_field :fuel, class: "form-control", placeholder: "Enter an amount" %>
                </div>
            </div>
            <div class="form-group row">
                <%= f.label :fun, class: "col-2 col-form-label" %>
                <div class="col-10">
                    <%= f.text_field :fun, class: "form-control", placeholder: "Enter an amount" %>
                </div>
            </div>
            <div class="form-group row">
                <%= f.label :gifts, class: "col-2 col-form-label" %>
                <div class="col-10">
                    <%= f.text_field :gifts, class: "form-control", placeholder: "Enter an amount" %>
                </div>
            </div>
            <div class="form-group row">
                <%= f.label :misc, class: "col-2 col-form-label" %>
                <div class="col-10">
                    <%= f.text_field :misc, class: "form-control", placeholder: "Enter an amount" %>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <%= f.submit class: "col-2 btn btn-outline-success" %>
            </div>
        <% end %>
        <br>
        <%= link_to 'Cancel edit and return to list of transactions', budgets_path(@budget) %>
    </div>
</div>