<h1 class="text-center mt-4">Individual client's budget</h1>
    <div class="container mt-5">
        <div class="card text-center">
        <div class="card-header">Username:
        <% if @budget.user %>
            <%= link_to @budget.user.username, user_path(@budget.user) %>
        <% end %>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Food</th>
                        <th>Fuel</th>
                        <th>Fun</th>
                        <th>Gifts</th>
                        <th>Misc</th>
                    </tr>
                    </thead>
                    <tbody>
                        <td><%= number_to_currency(@budget.food) %></td>
                        <td><%= number_to_currency(@budget.fuel) %></td>
                        <td><%= number_to_currency(@budget.fun) %></td>
                        <td><%= number_to_currency(@budget.gifts) %></td>
                        <td><%= number_to_currency(@budget.misc) %></td>
                    </tbody>
                </table>
            </h5>
        </div>
        <div class="card-footer text-muted">
        <% if logged_in? && @budget.user == current_user %>
            <%= link_to 'Edit', edit_budget_path(@budget), class: "btn btn-outline-success" %> |
            <%= link_to 'Delete', budget_path(@budget), method: :delete, data: { confirm: "Are you sure you want to delete?"}, class: "btn btn-outline-danger" %> |
        <% end %>    
            <%= link_to 'Return to list of budgets', budgets_path(@budget), class: "btn btn-outline-primary" %>
        </div>
    </div>
</div>