<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= render 'shared/errors', obj: @purchase %>
            <%= form_with(model: @purchase, local: true) do |f| %>
                <div class="form-group row">
                    <%= f.label :amount, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.text_field :amount, class: "form-control" %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.label :category, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.select :category, ["fun", "food", "fuel", "gifts", "misc"], class: "custom-select" %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.label :date, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.date_field :date, class: "form-control" %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.label :payment_method, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.select :payment_method, ["cash", "Amazon CC", "Freedom CC"], class: "custom-select" %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.label :description, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.text_field :description, class: "form-control" %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.label :reason, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.collection_select :reason_ids, Reason.order(:name), :id, :option, 
                        { prompt: "Select one or more from the list below (can leave blank)" }, { multiple: true, class: "custom-select" } %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.submit(@purchase.new_record? ? "add purchase" : "update purchase", class: "col-2 btn btn-outline-success") %>
                </div>

            <% end %>
            
            <br>
            <%= link_to 'Cancel and return to your dashboard', user_path(current_user) %>
        </div>
    </div>
</div>