<div class="container mt-5">         

 <div class="apple_pagination mt-3">
  <%= will_paginate @purchases, :container => false %>
</div>     


 <%= form_tag user_path, :method => "get" do %>
  <%= label_tag(:search, "Filter Purchases by Payment Method:") %>
  <br>
  <%= select_tag(:search, options_for_select(["","cash", "Amazon CC", "Freedom CC"]), selected: params[:search]) %>
  <%= submit_tag("Filter", :name => nil) %>
<% end %>  
<br>

<div class="container-fluid">
<div class="d-sm-flex">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Payment Method</th>
        <th>Description</th>
        <th>Reason for Purchase</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tr>
    <tbody>
        <% @purchases.each do |purchase| %>
            <td><%= purchase.date.strftime("%A, %m/%d/%Y") %></td>
            <td><%= purchase.category %></td> 
            <td><%= number_to_currency(purchase.amount) %></td>
            <td><%= purchase.payment_method %></td> 
            <td><%= purchase.description %></td> 
            <td>
              <% if purchase.reasons.any? %>
                  <div class="mt-2"><%= render purchase.reasons %></div>
              <% end %>
            </td> 
            <td>
            <% if logged_in? && purchase.user == current_user %>
              <%= link_to 'Edit', edit_purchase_path(purchase) %>
              <%= link_to 'Delete', purchase_path(purchase), method: :delete, data: { confirm: "Are you sure you want to delete?"} %>
            <% end %>
            </td>
          </tr>
        <% end %> 
    </tbody>
  </table>
  </div>
  </div>
</div>