<div class="container pt-5 bg-warning">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= render 'shared/errors' %>
            <%= form_with(model: @transaction, local: true) do |f| %>
                <div class="form-group row">
                    <%= f.label :amount, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.text_field :amount, class: "form-control" %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.label :t_type, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.select :t_type, ["credit", "debit"], class: "form-select" %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.label :category, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.select :category, ["fun", "food", "fuel", "other"], class: "form-select" %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.label :date, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.date_field :date, class: "form-control" %>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <%= f.submit class: "col-2 btn btn-outline-success" %>
                </div>

            <% end %>
            
            <br>
            <%= link_to 'Cancel edit and return to list of transactions', transactions_path(@transaction) %>
        </div>
    </div>
</div>