<h1>List of Transactions</h1>

<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @transactions.each do |transaction| %>
            <tr>
                <td><%= transaction.amount %></td>
                <td><%= transaction.transaction_type %></td>
                <td><%= link_to 'Show', transaction %></td>
                <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
                <td><%= link_to 'Delete', transaction_path(transaction), method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>
            

    
