<h1>Add a transaction</h1>

<%= form_with scope: :transaction, url: transactions_path, local: true do |f| %>

    <p>
        <%= f.label :amount %><br>
        <%= f.text_field :amount %>
    </p>

    <p>
        <%= f.label :transaction_type %><br>
        <%= f.text_field :transaction_type %>
    </p>

    <p>
        <%= f.submit %>
        
    </p>

<% end %>