<h1>Add a transaction</h1>



<% if @transaction.errors.any? %>
    <h2>The following errors prevented the transaction from being saved:</h2>
    <ul>
        <% @transaction.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %> 
    </ul>
<% end %>

<%= form_with scope: :transaction, url: transactions_path, local: true do |f| %>

    <p>
        <%= f.label :amount %><br>
        <%= f.text_field :amount %>
    </p>

    <p>
        Transactions<br>
        <%= f.text_field :t_type %>
    </p>

    <p>
        <%= f.label :date %><br>
        <%= f.date_field :date %>
    </p>

    <p>
        <%= f.submit %>
        
    </p>

<% end %>
<br>
<%= link_to 'Return to list of transactions', transactions_path(@transaction) %>