<h1>show an individual transaction</h1>

<p><strong>Amount: </strong><%= @transaction.amount %></p>
<p><strong>Type: </strong> <%= @transaction.transaction_type %></p>
<p><strong>Date: </strong> <%= @transaction.date %></p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Delete', transaction_path(@transaction), method: :delete, data: { confirm: "Are you sure you want to delete?"} %> |
<%= link_to 'Return to list of transactions', transactions_path(@transaction) %>     
            
        
   